body {
  font-family: 'Gugi', cursive;
  background-color: #1c4a5ae6;
}
.panel {
  margin-top: 100px;
  margin-bottom: 100px
}
.panel h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.form-control {
  border-radius: 20px;
}
.input-group-addon {
  border-radius: 20px;
}
.btn {
  border-radius: 20px;
}
